.menu {
    position: sticky;
    top: 0;
    z-index: 3;
}

.autocenter0 {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.cartas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-height: 360px;
    filter: blur(10px);
}

.play {
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1150px;
    background-image: url(fotos-videos/cartas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.play img {
    margin-top: 45px;
    margin-bottom: 35px;
}

.play a {
    text-decoration: none;
    color: black;
}

.boton {
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 95px; 
    background-color: #009900;
    border-radius: 35px;
    transition: background-color 1.5s, transform 1s;
    font-size: smaller;
    text-decoration: none;
}

.boton p {
    text-decoration: none;
}

.boton:hover {
    background-color: #00ff00;
    border-radius: 10px;
}

.autocenter1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 25px;
    margin-top: 45px;
    margin-bottom: 25px;
    background-image: url(fotos-videos/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    background-color: rgba(228, 218, 40, 0.65);
    padding: 5px;
    padding-left: 13px;
    padding-right: 13px;
}

.intro p {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 5px;
}

.autocenter1 video {
    margin-right: 35px;
}

.autocenter2 {
    box-sizing:border-box;
    margin-bottom: 45px;
}

.autocenter2 h2 {
    color: #e6b800;
    font-size: 2em;
}

.autocenter2 h4 {
    font-size: 2em;
    color: #e6b800;
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    max-width: 900px;
}

.titulo h2 {
    margin-bottom: 10px;
}

.start {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    max-width: 950px;
    box-shadow: 5px 5px 15px gray;
    background-color: white;
}

.start img {
    width: 320px;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 35px;
}

.start h4 {
    margin-top: 5px;
    margin-bottom: 15px; 
}

.start ul {
    padding-left: 25px; 
    list-style: none;
}

.start ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: large;
}

.ingame {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
    margin-bottom: 45px;
    box-shadow: 5px 5px 15px gray;
}

.ingame img {
    margin-top: 25px;
    margin-left: 45px;
    margin-right: 25px;
    width: 240px;
}

.ingame div {
    margin-left: 25px;
}

.ingame h4 {
    margin-bottom: 15px;
}

.ingame ul {
    padding-left: 15px;
    list-style: none;
}

.ingame ul li {
    padding-top: 10px;
    padding-bottom: 5px;
    text-decoration: none;
}

.finish {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left:auto ;
    margin-right: auto;
    margin-bottom: 35px;
    max-width: 950px;
    box-shadow: 5px 5px 15px gray;
}

.finish img {
    width: 120px;
    padding: 20px;
    margin-right: 35px;
}

.finish div {
    margin-right: 15px;
}

.finish h4 {
    margin-top: 5px;
}

.finish p {
    font-size: 18px;
}

.autocenter3 {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.autocenter3 h2 {
    color: #e6b800;
    font-size: 2em;
}

.autocenter3 h5 {
    font-size: 2em;
    margin-top: 15px;
    margin-bottom: 15px;
}

.reglas {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

.yes_no {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.yes_no img {
    max-width: 100px;
}

.sí {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    padding: 10px;
    border: solid;
    border-color: #069300;
    box-shadow: 0px 0px 10px gray;
}

.sí h5 {
    color: #069300;
}

.sí ul li {
    padding: 10px;
}

.no {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    padding: 10px;
    border: solid;
    border-color: #FF3939;
    box-shadow: 0px 0px 10px gray;
}

.no img {
    margin-top: 5px;
}

.no h5 {
    color: #FF3939;
}

.no ul li {
    padding: 10px;
}
